{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Auth site{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'user/style.css' %}">
</head>
<body>
    <header>
        <div class="topnav">
            <ul class="navfont">
                <li class="brand">Auth Site</li>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button class='btn navfont' type="submit">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li class="right"><a href="{% url 'login' %}">Login</a></li>
                    <li class="right"><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>        
    </header>
    <main>
        {% block content %}
    
        {% endblock %}
    </main>
    <footer>
        <small>&copy; 2023 Jithin Manilal. All rights reserved.</small>
        <small>
            <span>About this website-</span>
            built with Django, Html and CSS.
        </small>
    </footer>
</body>
</html>