{% extends 'base.html' %}
{% load static %}

{% block title %}
    Auth site | Register
{% endblock %}

{% block content %}
    <div class="cover">
        <h1>Register</h1>
        <form method="post">
            {% csrf_token %}
            
            {% for field in form %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
            
            <input class="btnsub" type="submit" value="Register">
        </form>
        
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>
{% endblock %}
